# Ignore tex temp files
*.aux
*.log
*.pdf
*.synctex.gz

# # Ignore everything
# *

# # Except .tex files and .gitignore
# !.gitignore
# !*.tex

# # Also include .r and .png files for graphs and r and shtuff
# !*.r
# !*.png

# !*/
